= check_box_tag("select_all_recipients",
    0,
    false,
    class: "select_all_recipients",
    messageble_type: messageble.class.name,
    messageble_id: messageble.id,
    notification_type: notification_type,
    authenticity_token: form_authenticity_token)